body{
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
    font-style: arial;
    color: beige;
    background-image: linear-gradient(to right, rgba(178, 180, 185, 0), rgb(75, 109, 172));
}

.container {
    background-size: contain;  
    background-color: rgb(221, 221, 243);
    border: 3px solid rgb(238, 231, 237);
    padding: 2px;
    display: grid;
    gap: 2px;
    grid-template-columns: 300px auto auto auto;
    grid-auto-rows: 90px 100px 150px 100px 100px 200px;
    grid-template-areas: 
        "h h h h"
        "s c c c"
        "s c c c"
        "s c c c"
        "f f f f"
        
     ;

}

.container div {
    padding: 0.5px;
    
    
}

.header {
    
    grid-area: h;
    background-color: #5e4ea5;
    display: flex;
    font-size: 30px;
} 
.im{
    max-width: 80px;
    max-height: 90px;
    overflow: hidden;
    margin-left: 0%;

}
h1{ text-align: center;
    margin-top: 0.2px;
    margin-left: 220px;

}
    


.sidebar {
    background-color: #5e4ea5;
    grid-area: s;
}

.contest {
    grid-area: c;
    background: url(wey.jpg);
    background-position: top 0.1px center;
   background-repeat: no-repeat;
   
}
.footer {
    grid-area: f;
    background: linear-gradient(72deg, #f098e6 1%, #9b8d96 99%);
    
   
}

li {
    list-style: none; 
    margin: 10px;    
    
}
li a {
    padding: 5px 5px; 
    margin:0;
    border: 0px solid rgb(191, 204, 9); 
    background: rgb(25, 11, 58);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
       
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
        
}
#nav{
    display: flex;
    flex-direction: row;
}

.slide{
    border: 0px solid rgb(191, 204, 9);
    gap: 2px;
}



li {
    list-style: none; 
    margin: 10px;    
    
}
li a {
    padding: 5px 10px; 
    margin:0;
    border: 0px solid rgb(191, 204, 9); 
    background: rgb(12, 10, 121);
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
       
}
li a:hover {
    background: #CCC;
    color: #000; 
    border-color: #000;
        
}
#nav{
    display: flex;
    flex-direction: row;
}

.slide{
    border: 0px solid rgb(191, 204, 9);
    gap: 2px;
}
 